n8n/sellf-webhooks-handler-PL.json
{
  "name": "Sellf: Webhook starter (weryfikacja + routing)",
  "nodes": [
    {
      "id": "sticky-overview",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -760,
        -400
      ],
      "parameters": {
        "color": 1,
        "width": 700,
        "height": 420,
        "content": "## Kieruj wszystkie webhooki Sellfa do własnych automatyzacji (starter)\n\n### Jak to działa\nWorkflow, od którego warto zacząć: [Sellf](https://github.com/jurczykpawel/sellf) - self-hostowana platforma checkout dla produktów cyfrowych - podpisuje każdą dostawę webhooka nagłówkiem HMAC `X-Sellf-Signature`. Ten starter weryfikuje podpis (styl Stripe, ochrona przed replay, świadomy rotacji sekretu), odpowiada od razu i kieruje każdy typ eventu - `purchase.completed`, `lead.captured`, `waitlist.signup`, `access.expired`, `refund.issued` plus tor `other` na całą resztę - do osobnej gałęzi-placeholdera. Podmień placeholdery na swoją logikę i masz zweryfikowany, przyszłościowy hub integracji Sellfa.\n\n### Konfiguracja\n1. W adminie Sellfa otwórz **Settings → Webhooks**, dodaj endpoint z adresem Production URL tego workflowa (node **Sellf Webhook**) i skopiuj signing secret.\n2. Wklej sekret w **Configuration (EDIT ME)**.\n3. Czerwona notka przy **Verify Signature** opisuje jedno wymagane ustawienie n8n, potem aktywuj.\n4. Użyj przycisku **Send test** przy endpoincie w Sellfie - dostawa wyląduje na gałęzi `other`, dowodząc działania całej rury.\n\n### Możliwości modyfikacji\nPodmieniaj placeholdery na realne nody albo kasuj niepotrzebne tory. Eventy subskrypcyjne (`subscription.*`, `invoice.*`) przychodzą na `other` - dołóż reguły Switcha, gdy zaczniesz sprzedawać subskrypcje."
      }
    },
    {
      "id": "sticky-receive",
      "name": "Section: Receive & Verify",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -760,
        340
      ],
      "parameters": {
        "color": 7,
        "width": 1120,
        "height": 380,
        "content": "## Odbiór i weryfikacja\nPrzyjmuje webhook Sellfa i sprawdza podpis HMAC, zanim zaufa danym."
      }
    },
    {
      "id": "sticky-route",
      "name": "Section: Route to Your Logic",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        440,
        20
      ],
      "parameters": {
        "color": 7,
        "width": 820,
        "height": 1060,
        "content": "## Routing do Twojej logiki\nJeden tor na typ eventu - podmień placeholdery na własne automatyzacje."
      }
    },
    {
      "id": "sticky-crypto",
      "name": "Warning: crypto module",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -130,
        370
      ],
      "parameters": {
        "color": 3,
        "width": 260,
        "height": 160,
        "content": "## Wymagane ustawienie\nTen node Code potrzebuje `require('crypto')`. Self-hosted n8n: ustaw `NODE_FUNCTION_ALLOW_BUILTIN=crypto` w środowisku n8n i zrestartuj."
      }
    },
    {
      "id": "webhook-1",
      "name": "Sellf Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -700,
        400
      ],
      "parameters": {
        "path": "sellf-events",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "notes": "Paste this node's Production URL into Sellf admin -> Settings -> Webhooks -> Add endpoint.",
      "onError": "continueRegularOutput"
    },
    {
      "id": "config-1",
      "name": "Configuration (EDIT ME)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        400
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "webhookSecret",
              "value": "paste-the-endpoint-signing-secret",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "stripBinary": false
        }
      },
      "notes": "webhookSecret comes from Sellf admin -> Settings -> Webhooks."
    },
    {
      "id": "verify-1",
      "name": "Verify Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -100,
        400
      ],
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst config = $('Configuration (EDIT ME)').first().json;\nconst item = $input.first();\n\nconst header = (item.json.headers && item.json.headers['x-sellf-signature']) || '';\nconst rawBody = item.binary && item.binary.data\n  ? Buffer.from(item.binary.data.data, 'base64').toString('utf8')\n  : JSON.stringify(item.json.body || {});\n\n// Header format (Stripe/Svix style): t=<unix>,v1=<hex>[,v1=<hex2 during secret rotation>]\nlet t = null;\nconst sigs = [];\nfor (const part of header.split(',')) {\n  const eq = part.indexOf('=');\n  if (eq === -1) continue;\n  const key = part.slice(0, eq).trim();\n  const value = part.slice(eq + 1).trim();\n  if (key === 't') t = value;\n  else if (key === 'v1') sigs.push(value);\n}\n\nlet valid = false;\nif (t && sigs.length && config.webhookSecret) {\n  const expected = crypto.createHmac('sha256', config.webhookSecret).update(`${t}.${rawBody}`).digest('hex');\n  const withinTolerance = Math.abs(Math.floor(Date.now() / 1000) - Number(t)) <= 300;\n  valid = withinTolerance && sigs.some((v1) =>\n    v1.length === expected.length && crypto.timingSafeEqual(Buffer.from(expected), Buffer.from(v1)));\n}\n\nreturn [{ json: { valid, body: JSON.parse(rawBody) } }];"
      }
    },
    {
      "id": "if-valid",
      "name": "Signature Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        200,
        400
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "respond-401",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        200,
        560
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\":false,\"error\":\"invalid signature\"}",
        "options": {
          "responseCode": 401
        }
      }
    },
    {
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        500,
        400
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"ok\"}"
      },
      "notes": "Acknowledge before processing - Sellf retries deliveries that don't get a 2xx."
    },
    {
      "id": "switch-1",
      "name": "Route by Event",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        800,
        400
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "purchase.completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "purchase.completed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "lead.captured",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "lead.captured"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "waitlist.signup",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "waitlist.signup"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "access.expired",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "access.expired"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "refund.issued",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "refund.issued"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "other"
        }
      },
      "notes": "Subscription events (subscription.*, invoice.*) land on the `other` output - add rules as you need them."
    },
    {
      "id": "noop-0",
      "name": "purchase.completed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1100,
        80
      ],
      "parameters": {},
      "notes": "Replace this placeholder with your own logic for this event."
    },
    {
      "id": "noop-1",
      "name": "lead.captured",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1100,
        240
      ],
      "parameters": {},
      "notes": "Replace this placeholder with your own logic for this event."
    },
    {
      "id": "noop-2",
      "name": "waitlist.signup",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1100,
        400
      ],
      "parameters": {},
      "notes": "Replace this placeholder with your own logic for this event."
    },
    {
      "id": "noop-3",
      "name": "access.expired",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1100,
        560
      ],
      "parameters": {},
      "notes": "Replace this placeholder with your own logic for this event."
    },
    {
      "id": "noop-4",
      "name": "refund.issued",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1100,
        720
      ],
      "parameters": {},
      "notes": "Replace this placeholder with your own logic for this event."
    },
    {
      "id": "noop-5",
      "name": "Other / Unknown",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1100,
        880
      ],
      "parameters": {},
      "notes": "Replace this placeholder with your own logic for this event."
    }
  ],
  "connections": {
    "Sellf Webhook": {
      "main": [
        [
          {
            "node": "Configuration (EDIT ME)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration (EDIT ME)": {
      "main": [
        [
          {
            "node": "Verify Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Signature": {
      "main": [
        [
          {
            "node": "Signature Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Signature Valid?": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond OK": {
      "main": [
        [
          {
            "node": "Route by Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Event": {
      "main": [
        [
          {
            "node": "purchase.completed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "lead.captured",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "waitlist.signup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "access.expired",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "refund.issued",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Other / Unknown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "sellf"
  }
}
