n8n/sellf-purchase-ifirma.json
{
  "name": "Sellf: Purchase → iFirma Invoice",
  "nodes": [
    {
      "id": "sticky-overview",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -760,
        -400
      ],
      "parameters": {
        "color": 1,
        "width": 700,
        "height": 440,
        "content": "## Create an iFirma VAT invoice for every B2B Sellf purchase\n\n### How it works\n[Sellf](https://github.com/jurczykpawel/sellf) - a self-hosted checkout platform for digital products - sends a signed `purchase.completed` webhook for every paid order. This workflow verifies the `X-Sellf-Signature` HMAC header, keeps only purchases where the buyer requested an invoice and provided a NIP (Polish tax id), builds an iFirma `fakturavat` payload marked as already paid, signs the request with iFirma's HMAC-SHA1 scheme and creates the invoice. Success and failure both land in dedicated end nodes, so a failed invoice never goes unnoticed.\n\n### Setup\n1. In Sellf admin open **Settings → Webhooks**, add an endpoint with this workflow's Production URL and copy the signing secret.\n2. In iFirma grab your login and the **invoice API key** (hex) from Settings → API.\n3. Fill in **Configuration (EDIT ME)**: webhook secret, iFirma login + key, VAT rate.\n4. See the red note on **Verify Signature** for one required n8n environment setting, then activate.\n\n### Customization tips\nChange the VAT rate or payment terms in **Configuration** / **Build iFirma Payload**. Wire **Log Error** to Slack or email. Selling on WooCommerce too? The same skeleton works - swap the extract step."
      }
    },
    {
      "id": "sticky-receive",
      "name": "Section: Receive & Verify",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -760,
        340
      ],
      "parameters": {
        "color": 7,
        "width": 1120,
        "height": 380,
        "content": "## Receive & Verify\nAccepts the Sellf webhook and checks its HMAC signature before trusting the payload."
      }
    },
    {
      "id": "sticky-extract",
      "name": "Section: Acknowledge & Extract",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        440,
        340
      ],
      "parameters": {
        "color": 7,
        "width": 820,
        "height": 220,
        "content": "## Acknowledge & Extract\nResponds immediately, then filters for completed purchases that requested an invoice with a NIP."
      }
    },
    {
      "id": "sticky-build",
      "name": "Section: Build the Invoice",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1340,
        340
      ],
      "parameters": {
        "color": 7,
        "width": 520,
        "height": 220,
        "content": "## Build the Invoice\nMaps the purchase to an iFirma fakturavat payload and signs the request (HMAC-SHA1)."
      }
    },
    {
      "id": "sticky-send",
      "name": "Section: Send & Log Result",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1940,
        180
      ],
      "parameters": {
        "color": 7,
        "width": 820,
        "height": 540,
        "content": "## Send & Log Result\nCreates the invoice and records the result - or the error, so nothing fails silently."
      }
    },
    {
      "id": "sticky-crypto",
      "name": "Warning: crypto module",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -130,
        370
      ],
      "parameters": {
        "color": 3,
        "width": 260,
        "height": 160,
        "content": "## Node setting required\nThis Code node needs `require('crypto')`. Self-hosted n8n: set `NODE_FUNCTION_ALLOW_BUILTIN=crypto` in the n8n environment, then restart."
      }
    },
    {
      "id": "webhook-1",
      "name": "Sellf Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -700,
        400
      ],
      "parameters": {
        "path": "sellf-purchase-ifirma",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "notes": "Paste this node's Production URL into Sellf admin -> Settings -> Webhooks -> Add endpoint.",
      "onError": "continueRegularOutput"
    },
    {
      "id": "config-1",
      "name": "Configuration (EDIT ME)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        400
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "webhookSecret",
              "value": "paste-the-endpoint-signing-secret",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "ifirmaLogin",
              "value": "your-ifirma-login",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "ifirmaApiKey",
              "value": "hex-invoice-api-key-from-ifirma",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "ifirmaApiUrl",
              "value": "https://panel.ifirma.pl/iapi/fakturavat.json",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "vatRate",
              "value": 23,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "stripBinary": false
        }
      },
      "notes": "ifirmaApiKey = the 'faktura' API key (hex) from iFirma -> Settings -> API. webhookSecret from Sellf admin -> Settings -> Webhooks."
    },
    {
      "id": "verify-1",
      "name": "Verify Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -100,
        400
      ],
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst config = $('Configuration (EDIT ME)').first().json;\nconst item = $input.first();\n\nconst header = (item.json.headers && item.json.headers['x-sellf-signature']) || '';\nconst rawBody = item.binary && item.binary.data\n  ? Buffer.from(item.binary.data.data, 'base64').toString('utf8')\n  : JSON.stringify(item.json.body || {});\n\n// Header format (Stripe/Svix style): t=<unix>,v1=<hex>[,v1=<hex2 during secret rotation>]\nlet t = null;\nconst sigs = [];\nfor (const part of header.split(',')) {\n  const eq = part.indexOf('=');\n  if (eq === -1) continue;\n  const key = part.slice(0, eq).trim();\n  const value = part.slice(eq + 1).trim();\n  if (key === 't') t = value;\n  else if (key === 'v1') sigs.push(value);\n}\n\nlet valid = false;\nif (t && sigs.length && config.webhookSecret) {\n  const expected = crypto.createHmac('sha256', config.webhookSecret).update(`${t}.${rawBody}`).digest('hex');\n  const withinTolerance = Math.abs(Math.floor(Date.now() / 1000) - Number(t)) <= 300;\n  valid = withinTolerance && sigs.some((v1) =>\n    v1.length === expected.length && crypto.timingSafeEqual(Buffer.from(expected), Buffer.from(v1)));\n}\n\nreturn [{ json: { valid, body: JSON.parse(rawBody) } }];"
      }
    },
    {
      "id": "if-valid",
      "name": "Signature Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        200,
        400
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "respond-401",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        200,
        560
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\":false,\"error\":\"invalid signature\"}",
        "options": {
          "responseCode": 401
        }
      }
    },
    {
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        500,
        400
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"ok\"}"
      },
      "notes": "Acknowledge before processing - Sellf retries deliveries that don't get a 2xx."
    },
    {
      "id": "switch-1",
      "name": "Is Purchase?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        800,
        400
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "purchase.completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "purchase.completed"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "notes": "Only purchase.completed flows through - other events (and Sellf's test deliveries) are dropped."
    },
    {
      "id": "extract-1",
      "name": "Extract Purchase Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        400
      ],
      "parameters": {
        "jsCode": "const data = $input.first().json.body.data;\n\nreturn [{\n  json: {\n    email: data.customer.email,\n    firstName: data.customer.firstName || '',\n    lastName: data.customer.lastName || '',\n    productName: data.product.name,\n    amount: data.order.amount / 100,\n    currency: (data.order.currency || 'PLN').toUpperCase(),\n    sessionId: data.order.sessionId,\n    paymentIntentId: data.order.paymentIntentId,\n    needsInvoice: (data.invoice && data.invoice.needsInvoice) || false,\n    invoiceNip: (data.invoice && data.invoice.nip) || null,\n    invoiceCompany: (data.invoice && data.invoice.companyName) || null,\n    invoiceAddress: (data.invoice && data.invoice.address) || null,\n    invoiceCity: (data.invoice && data.invoice.city) || null,\n    invoicePostalCode: (data.invoice && data.invoice.postalCode) || null,\n    invoiceCountry: (data.invoice && data.invoice.country) || 'PL'\n  }\n}];"
      }
    },
    {
      "id": "switch-2",
      "name": "Needs Invoice?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1400,
        400
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.needsInvoice === true && !!$json.invoiceNip }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "invoice requested"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "notes": "Consumer purchases without invoice data are dropped - only B2B buyers who asked for an invoice flow through."
    },
    {
      "id": "build-1",
      "name": "Build iFirma Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        400
      ],
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst config = $('Configuration (EDIT ME)').first().json;\nconst d = $input.first().json;\nconst today = new Date().toISOString().split('T')[0];\n\nconst due = new Date();\ndue.setDate(due.getDate() + 7);\nconst dueDate = due.toISOString().split('T')[0];\n\nconst payload = {\n  Zaplacono: 1,\n  ZaplaconoNaDokumencie: d.amount,\n  LiczOd: 'BRT',\n  DataWystawienia: today,\n  DataSprzedazy: today,\n  TerminPlatnosci: dueDate,\n  SposobZaplaty: 'PRZ',\n  RodzajPodpisuOdbiorcy: 'OUP',\n  Kontrahent: {\n    Nazwa: d.invoiceCompany || d.email,\n    NIP: d.invoiceNip,\n    Ulica: d.invoiceAddress || '-',\n    KodPocztowy: d.invoicePostalCode || '00-000',\n    Miejscowosc: d.invoiceCity || '-',\n    KodKraju: d.invoiceCountry || 'PL',\n    Email: d.email\n  },\n  Pozycje: [{\n    NazwaPelna: d.productName,\n    Jednostka: 'szt.',\n    Ilosc: 1,\n    CenaBrutto: d.amount,\n    StawkaVat: Number(config.vatRate) / 100\n  }]\n};\n\n// iFirma request auth: HMAC-SHA1 over url + body, keyed with the hex invoice key\nconst url = String(config.ifirmaApiUrl || 'https://panel.ifirma.pl/iapi/fakturavat.json');\nconst apiKey = Buffer.from(config.ifirmaApiKey, 'hex');\nconst body = JSON.stringify(payload);\nconst hmac = crypto.createHmac('sha1', apiKey).update(url + body).digest('hex');\n\nreturn [{ json: {\n  _url: url,\n  _body: body,\n  _authHeader: `IAPIS user=${config.ifirmaLogin},hmac-sha1=${hmac}`,\n} }];"
      }
    },
    {
      "id": "send-1",
      "name": "Send to iFirma",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $json._url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json; charset=UTF-8"
            },
            {
              "name": "Authentication",
              "value": "={{ $json._authHeader }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ $json._body }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "neverError": true
            }
          },
          "timeout": 30000
        }
      }
    },
    {
      "id": "if-success",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2300,
        400
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.response && $json.response.Kod === 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "set-ok",
      "name": "Extract Invoice Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2600,
        240
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "invoiceId",
              "value": "={{ $json.response && $json.response.Identyfikator }}",
              "type": "string"
            },
            {
              "id": "r2",
              "name": "buyerEmail",
              "value": "={{ $('Extract Purchase Data').item.json.email }}",
              "type": "string"
            },
            {
              "id": "r3",
              "name": "sessionId",
              "value": "={{ $('Extract Purchase Data').item.json.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "notes": "The created iFirma invoice - wire this to your DB, a sheet or a notification."
    },
    {
      "id": "set-err",
      "name": "Log Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2600,
        560
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1",
              "name": "error",
              "value": "={{ JSON.stringify($json).slice(0, 500) }}",
              "type": "string"
            },
            {
              "id": "e2",
              "name": "sessionId",
              "value": "={{ $('Extract Purchase Data').item.json.sessionId }}",
              "type": "string"
            },
            {
              "id": "e3",
              "name": "buyerEmail",
              "value": "={{ $('Extract Purchase Data').item.json.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "notes": "Connect to Slack, email or a sheet so a failed invoice never goes unnoticed."
    }
  ],
  "connections": {
    "Sellf Webhook": {
      "main": [
        [
          {
            "node": "Configuration (EDIT ME)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration (EDIT ME)": {
      "main": [
        [
          {
            "node": "Verify Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Signature": {
      "main": [
        [
          {
            "node": "Signature Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Signature Valid?": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond OK": {
      "main": [
        [
          {
            "node": "Is Purchase?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Purchase?": {
      "main": [
        [
          {
            "node": "Extract Purchase Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Purchase Data": {
      "main": [
        [
          {
            "node": "Needs Invoice?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Invoice?": {
      "main": [
        [
          {
            "node": "Build iFirma Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build iFirma Payload": {
      "main": [
        [
          {
            "node": "Send to iFirma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to iFirma": {
      "main": [
        [
          {
            "node": "Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success?": {
      "main": [
        [
          {
            "node": "Extract Invoice Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "sellf"
  }
}
