n8n/sellf-refund-alert-PL.json
{
  "name": "Sellf: Alert o zwrotach → Telegram",
  "nodes": [
    {
      "id": "sticky-overview",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -760,
        -380
      ],
      "parameters": {
        "color": 1,
        "width": 700,
        "height": 400,
        "content": "## Alert na Telegramie o oczekujących zwrotach w Sellfie\n\n### Jak to działa\nCo 15 minut ten workflow pyta REST API [Sellf](https://github.com/jurczykpawel/sellf) - self-hostowana platforma checkout dla produktów cyfrowych o wnioski o zwrot ze statusem `pending`. Jeśli jakieś są, dostajesz jedną wiadomość z listą - klient, produkt, kwota - i przypomnieniem, żeby obsłużyć je w panelu. Brak oczekujących = brak wiadomości: cisza znaczy czysto. Czas reakcji na zwrot to sygnał zaufania (a w UE także zegar prawny) - to trzyma go krótko.\n\n### Konfiguracja\n1. W adminie Sellfa utwórz klucz API (**Settings → API keys**).\n2. Uzupełnij **Configuration (EDIT ME)**: adres Sellfa, klucz API i id czatu Telegrama.\n3. Podłącz credentials bota Telegrama w **Send to Telegram**.\n4. Aktywuj.\n\n### Możliwości modyfikacji\nZmień interwał w **Every 15 Minutes** (dla małych sklepów co godzinę wystarczy). Dołóż filtr kwoty w **Format Alert** albo podmień Telegrama na Slacka/Discorda przez HTTP z incoming webhookiem."
      }
    },
    {
      "id": "sticky-check",
      "name": "Section: Check for Refunds",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -760,
        340
      ],
      "parameters": {
        "color": 7,
        "width": 820,
        "height": 220,
        "content": "## Sprawdzenie zwrotów\nOdpytuje API Sellfa o oczekujące wnioski o zwrot."
      }
    },
    {
      "id": "sticky-alert",
      "name": "Section: Alert",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        140,
        340
      ],
      "parameters": {
        "color": 7,
        "width": 820,
        "height": 220,
        "content": "## Alert\nJedna wiadomość z każdym oczekującym wnioskiem - nic nie czeka, nic nie wychodzi."
      }
    },
    {
      "id": "trigger-1",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -700,
        400
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      }
    },
    {
      "id": "config-1",
      "name": "Configuration (EDIT ME)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        400
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "sellfUrl",
              "value": "https://your-sellf.example.com",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "apiKey",
              "value": "paste-your-sellf-api-key",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "telegramChatId",
              "value": "your-telegram-chat-id",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "stripBinary": false
        }
      },
      "notes": "apiKey from Sellf admin -> Settings -> API keys."
    },
    {
      "id": "http-1",
      "name": "Get Pending Refunds",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        400
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Configuration (EDIT ME)').item.json.sellfUrl }}/api/v1/refund-requests?status=pending",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Configuration (EDIT ME)').item.json.apiKey }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "code-1",
      "name": "Format Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        400
      ],
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst refunds = response.data || response.refund_requests || [];\n\nif (!Array.isArray(refunds) || refunds.length === 0) return [];\n\nconst lines = refunds.map(r =>\n  `\\u2022 ${r.customer_email || r.email || 'N/A'} - ${r.product_name || r.product || 'N/A'} (${r.amount ? r.amount/100 : '?'} ${String(r.currency || '').toUpperCase()})`\n).join('\\n');\n\nconst msg = `\\u26A0\\uFE0F *Pending refund requests: ${refunds.length}*\\n\\n${lines}\\n\\n\\u{1F449} Handle them in the Sellf admin panel`;\n\nreturn [{ json: { message: msg, count: refunds.length } }];"
      },
      "notes": "Returns nothing when the list is empty - so no empty pings."
    },
    {
      "id": "tg-1",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        500,
        400
      ],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Configuration (EDIT ME)').item.json.telegramChatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "notes": "Connect your Telegram bot credentials. Prefer Slack/Discord? Swap for an HTTP node posting to an incoming webhook."
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Configuration (EDIT ME)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration (EDIT ME)": {
      "main": [
        [
          {
            "node": "Get Pending Refunds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Refunds": {
      "main": [
        [
          {
            "node": "Format Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Alert": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "sellf"
  }
}
