n8n/sellf-access-expired-winback.json
{
  "name": "Sellf: Access Expired → Win-back Coupon",
  "nodes": [
    {
      "id": "sticky-overview",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -760,
        -400
      ],
      "parameters": {
        "color": 1,
        "width": 700,
        "height": 440,
        "content": "## Win back Sellf customers when their product access expires\n\n### How it works\n[Sellf](https://github.com/jurczykpawel/sellf) - a self-hosted checkout platform for digital products - emits a signed `access.expired` webhook when a customer's time-limited product access runs out. This workflow verifies the `X-Sellf-Signature` HMAC header, sends a friendly heads-up email, waits two days, then creates a personal 20% win-back coupon through the Sellf API and mails it - turning expirations into renewals instead of silent churn.\n\n### Setup\n1. In Sellf admin open **Settings → Webhooks**, add an endpoint with this workflow's Production URL and copy the signing secret.\n2. Create an API key (**Settings → API keys**) with the coupons write scope.\n3. Fill in **Configuration (EDIT ME)**: webhook secret, Sellf URL, API key, discount percent and your sender address.\n4. Connect SMTP credentials on both email nodes and make the copy yours.\n5. See the red note on **Verify Signature** for one required n8n environment setting, then activate. Works with products that use `auto_grant_duration_days`.\n\n### Customization tips\nTune the wait and the discount in **Configuration**. Personalize the emails - the payload carries the customer and product. Add an expiry date to the coupon in **Create Win-back Coupon** if you want extra urgency."
      }
    },
    {
      "id": "sticky-receive",
      "name": "Section: Receive & Verify",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -760,
        340
      ],
      "parameters": {
        "color": 7,
        "width": 1120,
        "height": 380,
        "content": "## Receive & Verify\nAccepts the Sellf webhook and checks its HMAC signature before trusting the payload."
      }
    },
    {
      "id": "sticky-notify",
      "name": "Section: Acknowledge & Notify",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        440,
        340
      ],
      "parameters": {
        "color": 7,
        "width": 1120,
        "height": 220,
        "content": "## Acknowledge & Notify\nKeeps only `access.expired` and sends the heads-up email right away."
      }
    },
    {
      "id": "sticky-winback",
      "name": "Section: Wait & Win Back",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1640,
        340
      ],
      "parameters": {
        "color": 7,
        "width": 1120,
        "height": 220,
        "content": "## Wait & Win Back\nTwo days later: a personal coupon minted via the Sellf API lands in their inbox."
      }
    },
    {
      "id": "sticky-crypto",
      "name": "Warning: crypto module",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -130,
        370
      ],
      "parameters": {
        "color": 3,
        "width": 260,
        "height": 160,
        "content": "## Node setting required\nThis Code node needs `require('crypto')`. Self-hosted n8n: set `NODE_FUNCTION_ALLOW_BUILTIN=crypto` in the n8n environment, then restart."
      }
    },
    {
      "id": "webhook-1",
      "name": "Sellf Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -700,
        400
      ],
      "parameters": {
        "path": "sellf-access-expired",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "notes": "Paste this node's Production URL into Sellf admin -> Settings -> Webhooks -> Add endpoint.",
      "onError": "continueRegularOutput"
    },
    {
      "id": "config-1",
      "name": "Configuration (EDIT ME)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        400
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "webhookSecret",
              "value": "paste-the-endpoint-signing-secret",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "sellfUrl",
              "value": "https://your-sellf.example.com",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "apiKey",
              "value": "paste-your-sellf-api-key",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "discountPercent",
              "value": 20,
              "type": "number"
            },
            {
              "id": "a5",
              "name": "fromEmail",
              "value": "you@your-brand.example.com",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "stripBinary": false
        }
      },
      "notes": "apiKey needs the coupons write scope (Sellf admin -> Settings -> API keys)."
    },
    {
      "id": "verify-1",
      "name": "Verify Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -100,
        400
      ],
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst config = $('Configuration (EDIT ME)').first().json;\nconst item = $input.first();\n\nconst header = (item.json.headers && item.json.headers['x-sellf-signature']) || '';\nconst rawBody = item.binary && item.binary.data\n  ? Buffer.from(item.binary.data.data, 'base64').toString('utf8')\n  : JSON.stringify(item.json.body || {});\n\n// Header format (Stripe/Svix style): t=<unix>,v1=<hex>[,v1=<hex2 during secret rotation>]\nlet t = null;\nconst sigs = [];\nfor (const part of header.split(',')) {\n  const eq = part.indexOf('=');\n  if (eq === -1) continue;\n  const key = part.slice(0, eq).trim();\n  const value = part.slice(eq + 1).trim();\n  if (key === 't') t = value;\n  else if (key === 'v1') sigs.push(value);\n}\n\nlet valid = false;\nif (t && sigs.length && config.webhookSecret) {\n  const expected = crypto.createHmac('sha256', config.webhookSecret).update(`${t}.${rawBody}`).digest('hex');\n  const withinTolerance = Math.abs(Math.floor(Date.now() / 1000) - Number(t)) <= 300;\n  valid = withinTolerance && sigs.some((v1) =>\n    v1.length === expected.length && crypto.timingSafeEqual(Buffer.from(expected), Buffer.from(v1)));\n}\n\nreturn [{ json: { valid, body: JSON.parse(rawBody) } }];"
      }
    },
    {
      "id": "if-valid",
      "name": "Signature Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        200,
        400
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "respond-401",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        200,
        560
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\":false,\"error\":\"invalid signature\"}",
        "options": {
          "responseCode": 401
        }
      }
    },
    {
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        500,
        400
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"ok\"}"
      },
      "notes": "Acknowledge before processing - Sellf retries deliveries that don't get a 2xx."
    },
    {
      "id": "switch-1",
      "name": "Is Access Expired?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        800,
        400
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "access.expired",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "access.expired"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "notes": "Only access.expired flows through - other events (and Sellf's test deliveries) are dropped."
    },
    {
      "id": "extract-1",
      "name": "Extract Expiry Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        400
      ],
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst d = body.data;\n\nconst email = (d.customer && d.customer.email) || d.email;\nif (!email) throw new Error('access.expired payload has no email');\n\nreturn [{ json: {\n  email,\n  firstName: (d.customer && d.customer.firstName) || '',\n  productName: (d.product && d.product.name) || 'your product',\n  productId: (d.product && d.product.id) || null,\n} }];"
      }
    },
    {
      "id": "email-1",
      "name": "Send Expiry Notice",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1400,
        400
      ],
      "parameters": {
        "fromEmail": "={{ $('Configuration (EDIT ME)').item.json.fromEmail }}",
        "toEmail": "={{ $json.email }}",
        "subject": "={{ 'Your access to ' + $json.productName + ' has expired' }}",
        "text": "={{ 'Hi ' + ($json.firstName || 'there') + ',\\n\\nYour access to ' + $json.productName + ' just expired. If you were in the middle of something - no worries, your progress is safe.\\n\\nKeep an eye on your inbox, something nice is coming your way.\\n' }}",
        "options": {}
      },
      "notes": "Connect SMTP credentials. Keep it friendly - the coupon comes in the next email."
    },
    {
      "id": "wait-1",
      "name": "Wait 2 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1700,
        400
      ],
      "parameters": {
        "amount": 2,
        "unit": "days"
      },
      "notes": "n8n parks the execution durably. Tune the gap to your product's rhythm."
    },
    {
      "id": "coupon-1",
      "name": "Create Win-back Coupon",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Configuration (EDIT ME)').item.json.sellfUrl }}/api/v1/coupons",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Configuration (EDIT ME)').item.json.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const code = 'BACK-' + Math.random().toString(36).slice(2, 8).toUpperCase(); const pid = $('Extract Expiry Data').item.json.productId; const isUuid = typeof pid === 'string' && /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i.test(pid); return JSON.stringify({ code, name: 'Win-back ' + code, discount_type: 'percentage', discount_value: Number($('Configuration (EDIT ME)').item.json.discountPercent), ...(isUuid ? { allowed_product_ids: [pid] } : {}) }); })() }}",
        "options": {
          "timeout": 30000
        }
      },
      "notes": "Mints a one-off percentage coupon via the Sellf API, scoped to the expired product when its id is a real product UUID."
    },
    {
      "id": "email-2",
      "name": "Send Win-back Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2300,
        400
      ],
      "parameters": {
        "fromEmail": "={{ $('Configuration (EDIT ME)').item.json.fromEmail }}",
        "toEmail": "={{ $('Extract Expiry Data').item.json.email }}",
        "subject": "={{ 'A little something to come back to ' + $('Extract Expiry Data').item.json.productName }}",
        "text": "={{ 'Hi ' + ($('Extract Expiry Data').item.json.firstName || 'there') + ',\\n\\nHere is a personal ' + $('Configuration (EDIT ME)').item.json.discountPercent + '% discount to renew your access to ' + $('Extract Expiry Data').item.json.productName + ':\\n\\n    ' + ($json.data ? $json.data.code : $json.code) + '\\n\\nUse it at checkout whenever you are ready.\\n' }}",
        "options": {}
      },
      "notes": "Connect SMTP credentials. The coupon code comes straight from the previous node's response."
    }
  ],
  "connections": {
    "Sellf Webhook": {
      "main": [
        [
          {
            "node": "Configuration (EDIT ME)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration (EDIT ME)": {
      "main": [
        [
          {
            "node": "Verify Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Signature": {
      "main": [
        [
          {
            "node": "Signature Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Signature Valid?": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond OK": {
      "main": [
        [
          {
            "node": "Is Access Expired?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Access Expired?": {
      "main": [
        [
          {
            "node": "Extract Expiry Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Expiry Data": {
      "main": [
        [
          {
            "node": "Send Expiry Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Expiry Notice": {
      "main": [
        [
          {
            "node": "Wait 2 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 Days": {
      "main": [
        [
          {
            "node": "Create Win-back Coupon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Win-back Coupon": {
      "main": [
        [
          {
            "node": "Send Win-back Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "sellf"
  }
}
