n8n/sellf-daily-sales-report-PL.json
{
  "name": "Sellf: Dzienny raport sprzedaży → Telegram",
  "nodes": [
    {
      "id": "sticky-overview",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -760,
        -380
      ],
      "parameters": {
        "color": 1,
        "width": 700,
        "height": 400,
        "content": "## Dzienny raport sprzedaży Sellfa na Telegramie\n\n### Jak to działa\nCodziennie o 9:00 ten workflow ściąga liczby Twojego sklepu z REST API [Sellf](https://github.com/jurczykpawel/sellf) - self-hostowana platforma checkout dla produktów cyfrowych: dzisiejszy przychód i zamówienia, aktywni użytkownicy i produkty, plus top 5 produktów po przychodzie - skleja to w jedną czytelną wiadomość i wysyła na Twój czat Telegrama. Codzienny puls sklepu bez otwierania panelu.\n\n### Konfiguracja\n1. W adminie Sellfa utwórz klucz API (**Settings → API keys**).\n2. Uzupełnij **Configuration (EDIT ME)**: adres Sellfa, klucz API i id czatu Telegrama.\n3. Podłącz credentials bota Telegrama w **Send to Telegram** (bot przez @BotFather, dodaj go do czatu).\n4. Dostosuj godzinę w **Every Day at 9:00** i aktywuj.\n\n### Możliwości modyfikacji\nRozbuduj **Format Report** o zwroty, konwersje albo delty tydzień-do-tygodnia - masz do dyspozycji wszystko, co zwracają endpointy analytics. Wolisz Slacka albo Discorda? Podmień node Telegrama na HTTP z incoming webhookiem."
      }
    },
    {
      "id": "sticky-pull",
      "name": "Section: Pull the Numbers",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -760,
        340
      ],
      "parameters": {
        "color": 7,
        "width": 1120,
        "height": 220,
        "content": "## Pobranie liczb\nOdpala się co rano i czyta dzisiejsze statystyki oraz top produkty z API Sellfa."
      }
    },
    {
      "id": "sticky-report",
      "name": "Section: Report",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        440,
        340
      ],
      "parameters": {
        "color": 7,
        "width": 820,
        "height": 220,
        "content": "## Raport\nJedna czytelna wiadomość: przychód, zamówienia, użytkownicy, produkty, bestsellery."
      }
    },
    {
      "id": "trigger-1",
      "name": "Every Day at 9:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -700,
        400
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 9
            }
          ]
        }
      }
    },
    {
      "id": "config-1",
      "name": "Configuration (EDIT ME)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        400
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "sellfUrl",
              "value": "https://your-sellf.example.com",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "apiKey",
              "value": "paste-your-sellf-api-key",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "telegramChatId",
              "value": "your-telegram-chat-id",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "stripBinary": false
        }
      },
      "notes": "apiKey from Sellf admin -> Settings -> API keys. telegramChatId: message @userinfobot on Telegram to find yours."
    },
    {
      "id": "http-1",
      "name": "Get Dashboard Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        400
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Configuration (EDIT ME)').item.json.sellfUrl }}/api/v1/analytics/dashboard",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Configuration (EDIT ME)').item.json.apiKey }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "http-2",
      "name": "Get Top Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        400
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Configuration (EDIT ME)').item.json.sellfUrl }}/api/v1/analytics/top-products?period=day&sort_by=revenue&limit=5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Configuration (EDIT ME)').item.json.apiKey }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "code-1",
      "name": "Format Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        400
      ],
      "parameters": {
        "jsCode": "const dashboard = $('Get Dashboard Stats').first().json;\nconst topProducts = $('Get Top Products').first().json;\n\nconst s = dashboard.data || dashboard;\nconst products = ((topProducts.data && topProducts.data.products) || topProducts.products || []).slice(0, 5);\n\nconst topList = products.length > 0\n  ? products.map((p, i) => `  ${i+1}. ${p.name || p.product_name} - ${p.revenue || p.total_revenue || 0}`).join('\\n')\n  : '  No sales yet';\n\nconst msg = `\\u{1F4CA} *Sellf Daily Report*\\n` +\n  `\\u{1F4C5} ${new Date().toISOString().split('T')[0]}\\n\\n` +\n  `\\u{1F4B0} Revenue today: *${(s.revenue && s.revenue.today) || 0}*\\n` +\n  `\\u{1F6D2} Orders today: *${(s.transactions && s.transactions.today) || 0}*\\n` +\n  `\\u{1F465} Users with access: *${(s.users && s.users.with_access) || 0}*\\n` +\n  `\\u{1F4E6} Active products: *${(s.products && s.products.active) || 0}*\\n` +\n  `\\u21A9\\uFE0F Pending refunds: *${(s.refunds && s.refunds.pending_count) || 0}*\\n\\n` +\n  `\\u{1F3C6} *Top products (today):*\\n${topList}`;\n\nreturn [{ json: { message: msg } }];"
      }
    },
    {
      "id": "tg-1",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        400
      ],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Configuration (EDIT ME)').item.json.telegramChatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "notes": "Connect your Telegram bot credentials. Prefer Slack/Discord? Swap for an HTTP node posting to an incoming webhook."
    }
  ],
  "connections": {
    "Every Day at 9:00": {
      "main": [
        [
          {
            "node": "Configuration (EDIT ME)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration (EDIT ME)": {
      "main": [
        [
          {
            "node": "Get Dashboard Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Dashboard Stats": {
      "main": [
        [
          {
            "node": "Get Top Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Top Products": {
      "main": [
        [
          {
            "node": "Format Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Report": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "sellf"
  }
}
