n8n/sellf-purchase-ksef.json
{
  "name": "Sellf: Purchase → KSeF Invoice",
  "nodes": [
    {
      "parameters": {
        "content": "## Sellf → KSeF: Konfiguracja po imporcie\n\n**1. Zmienne n8n** (Settings → Variables):\n- `KSEF_GATEWAY_URL` = `https://twoja-instancja-ksef-gateway.com`\n- `SELLER_NIP` = NIP Twojej firmy\n- `SELLER_NAME` = Nazwa firmy\n- `SELLER_STREET` = Adres (ulica)\n- `SELLER_CITY` = Kod pocztowy + miasto\n\n**2. Webhook URL**\nSkopiuj URL webhooka z tego node'a (Production URL)\ni wklej w Sellf admin → Settings → Webhooks.\n\n**3. Stawka VAT**\nDomyślnie `23%`. Jeśli Twoje produkty mają inną stawkę\n(0, 5, 8), zmień `vatRate` w node **Build KSeF Payload**.\n\n**4. Numeracja faktur**\nDomyślny schemat: `FV/YYYY/MM/DD/XXXX`\n(XXXX = ostatnie 4 znaki sessionId z Sellf).\nZmień w node **Build KSeF Payload** jeśli masz własny schemat.\n\n**5. Błędy wystawiania faktury**\nNode **Log Error** na końcu — podepnij Slack, email lub\nSupabase aby dostawać alerty o nieudanych zgłoszeniach do KSeF.",
        "height": 360,
        "width": 380,
        "color": 4
      },
      "id": "note-1",
      "name": "Konfiguracja",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -420,
        100
      ]
    },
    {
      "parameters": {
        "path": "sellf-purchase-ksef",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-1",
      "name": "Sellf Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "sellf-purchase-ksef",
      "notes": "Configure this webhook URL in Sellf admin panel → Settings → Webhooks."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"ok\"}"
      },
      "id": "res-1",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "purchase.completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "purchase.completed"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "sw-1",
      "name": "Is Purchase?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.body.data;\n\nreturn [{\n  json: {\n    email: data.customer.email,\n    firstName: data.customer.firstName || '',\n    productName: data.product.name,\n    amount: data.order.amount / 100,\n    currency: data.order.currency.toUpperCase(),\n    sessionId: data.order.sessionId,\n    paymentIntentId: data.order.paymentIntentId,\n    needsInvoice: data.invoice?.needsInvoice || false,\n    invoiceNip: data.invoice?.nip || null,\n    invoiceCompany: data.invoice?.companyName || null,\n    invoiceAddress: data.invoice?.address || null,\n    invoiceCity: data.invoice?.city || null,\n    invoicePostalCode: data.invoice?.postalCode || null,\n    invoiceCountry: data.invoice?.country || 'PL'\n  }\n}];"
      },
      "id": "code-1",
      "name": "Extract Purchase Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.needsInvoice }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  },
                  {
                    "leftValue": "={{ $json.invoiceNip }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Needs Invoice"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "sw-2",
      "name": "Needs Invoice?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        920,
        300
      ],
      "notes": "Proceeds only when customer requested an invoice AND provided NIP. Both conditions required."
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst today = new Date().toISOString().split('T')[0];\n\n// Build invoice number from session ID suffix — user may want to adjust this scheme\nconst suffix = (d.sessionId || 'XXXX').slice(-4).toUpperCase();\nconst invoiceNumber = `FV/${today.replace(/-/g, '/')}/${suffix}`;\n\nconst buyerCity = d.invoicePostalCode\n  ? `${d.invoicePostalCode} ${d.invoiceCity}`\n  : d.invoiceCity || '-';\n\n// Seller data — EDIT THESE to match your company\nconst seller = {\n  nip: $vars.SELLER_NIP || '0000000000',\n  name: $vars.SELLER_NAME || 'Twoja Firma sp. z o.o.',\n  address: {\n    street: $vars.SELLER_STREET || 'ul. Przykladowa 1',\n    city: $vars.SELLER_CITY || '00-001 Warszawa'\n  }\n};\n\nreturn [{\n  json: {\n    invoiceNumber,\n    issueDate: today,\n    saleDate: today,\n    issuePlace: seller.address.city.split(' ').slice(1).join(' ') || 'Warszawa',\n    currency: d.currency || 'PLN',\n    type: 'VAT',\n    seller,\n    buyer: {\n      nip: d.invoiceNip,\n      name: d.invoiceCompany || d.email,\n      address: {\n        street: d.invoiceAddress || '-',\n        city: buyerCity,\n        country: d.invoiceCountry || 'PL'\n      }\n    },\n    items: [\n      {\n        name: d.productName,\n        unit: 'szt.',\n        quantity: 1,\n        unitPrice: d.amount,\n        vatRate: 23\n      }\n    ],\n    payment: {\n      paid: true,\n      date: today,\n      method: 'transfer'\n    },\n    // Pass-through for error logging\n    _meta: {\n      sessionId: d.sessionId,\n      paymentIntentId: d.paymentIntentId,\n      buyerEmail: d.email\n    }\n  }\n}];"
      },
      "id": "code-2",
      "name": "Build KSeF Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        300
      ],
      "notes": "vatRate is hardcoded to 23%. Adjust if your products use a different VAT rate (0, 5, 8).\nSeller data loaded from n8n variables: SELLER_NIP, SELLER_NAME, SELLER_STREET, SELLER_CITY."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.KSEF_GATEWAY_URL }}/ksef/invoice",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ invoiceNumber: $json.invoiceNumber, issueDate: $json.issueDate, saleDate: $json.saleDate, issuePlace: $json.issuePlace, currency: $json.currency, type: $json.type, seller: $json.seller, buyer: $json.buyer, items: $json.items, payment: $json.payment }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "http-1",
      "name": "Send to KSeF Gateway",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        300
      ],
      "notes": "Set KSEF_GATEWAY_URL in n8n → Settings → Variables (e.g. https://ksef.yourdomain.com).\nThe gateway authenticates with KSeF internally — no auth headers needed here."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        }
      },
      "id": "if-1",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1640,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ksefNumber",
              "name": "ksefNumber",
              "value": "={{ $json.data.ksefNumber }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "status",
              "value": "={{ $json.data.status }}",
              "type": "string"
            },
            {
              "id": "sessionId",
              "name": "sessionId",
              "value": "={{ $('Build KSeF Payload').item.json._meta.sessionId }}",
              "type": "string"
            },
            {
              "id": "buyerEmail",
              "name": "buyerEmail",
              "value": "={{ $('Build KSeF Payload').item.json._meta.buyerEmail }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-1",
      "name": "Extract KSeF Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1880,
        200
      ],
      "notes": "ksefNumber — save this to your DB (Supabase payment_transactions) for audit trail.\nOptionally chain a Supabase node here to persist it."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error",
              "name": "error",
              "value": "={{ $json.error || JSON.stringify($json) }}",
              "type": "string"
            },
            {
              "id": "sessionId",
              "name": "sessionId",
              "value": "={{ $('Build KSeF Payload').item.json._meta.sessionId }}",
              "type": "string"
            },
            {
              "id": "invoiceNumber",
              "name": "invoiceNumber",
              "value": "={{ $('Build KSeF Payload').item.json.invoiceNumber }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-2",
      "name": "Log Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1880,
        420
      ],
      "notes": "TODO: Connect to Slack / email / Supabase audit_log to alert on failed KSeF submissions."
    }
  ],
  "connections": {
    "Sellf Webhook": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Purchase?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Purchase?": {
      "main": [
        [
          {
            "node": "Extract Purchase Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Purchase Data": {
      "main": [
        [
          {
            "node": "Needs Invoice?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Invoice?": {
      "main": [
        [
          {
            "node": "Build KSeF Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build KSeF Payload": {
      "main": [
        [
          {
            "node": "Send to KSeF Gateway",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to KSeF Gateway": {
      "main": [
        [
          {
            "node": "Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success?": {
      "main": [
        [
          {
            "node": "Extract KSeF Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "sellf"
  },
  "id": "l8TFaETTmtW7rsKh"
}
